# Database configuration
DB_HOST=localhost
DB_PORT=27017

# Express configuration
# *** IF SSL IS ENABLED, THEN NEED A CERTIFICATE ***
PORT=3001
# SSL configuration
SSL=0
CERT_LOCATION=Change
CERT_KEY_LOCATION=Us

# Google OAuth configuration
GOOGLE_CLIENT_ID=Cool_Client_ID

# JWT configuration
# *** CHANGE SECRET KEY ***
JWT_EXPIRY_TIME=300
JWT_SECRET_KEY=Secret

# Email Verification configuration
DEFAULT_CODE_DURATION=15